
* {
            margin: 0;
            padding: 0;
}
 
                       /***********************Navbar Start***********************/
    a {
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
        }
        
        li {
            list-style: none;
        }
        
        p {
            font-size: 0.9rem;
            margin: 20px 0 15px 0;
            font-weight: bold;
            line-height: 1.1;
            word-spacing: 4px;
        }
        
        i {
            color: #2fccd0;
        }
        
        
    
        
        .header:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4%;
            z-index: .5;
            background: linear-gradient(to right, #1e5799 0%, #3ccdbd 0%, #16c9f6 100%);
        }
      
        .menu{
            position: absolute;
            position: fixed;
            height: 60px ;
            width: 100% ;
            background-color:#1e5799;
        }
        
        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }
        
       
        
        .header-section {
            width: 100%;
            height: 100%;
            color: white;
            text-align: center;
            position: relative;
        }
        
         .nav-item a {
            color: #fff!important;
            font-weight: bold;
        }
        /***********************Navbar End***********************/

/******************* Product sample starts ********************/
        
        
        .Product {
            background: #f7f7f9;
            padding: 50px 0;
            margin-bottom: 50px;
        }
        
        .headings {
            margin-bottom: 50px;
        }
        
        .img {
            margin-top: 30px;
            margin-bottom: 30px;
            position: relative;
            height: 200px!important;
            width: 70%;
        }
        
        h1{
            font-family: 'Sriracha', cursive;
            font-weight: bold;
        }
        .img h1 {
            text-align: center;
        }
        
        .box {
            text-align: center;
            border: 2px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            transition: 0.3s ease;
            min-height: 200px;
            margin-bottom: 25px;
        }
        
        .box:hover {
            background: white;
        }
        
        .box:hover p {
            color: blue;
        }
        
        .box a {
            position: relative;
        }
        
        .box h1 {
            font-size: 18px;
            font-weight: : 700;
            color: #000;
            margin-bottom: 10px;
        }
        
        .box {
            width: 100%;
            background-color: #50d1c0;
            transition: 0.4s ease;
            transform: translateY(-20px);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            z-index: 5px;
        }
        /******************* Product sample end ********************/

/****************Footer Starts**********************/
        
        .footersection {
            width: 100%;
            height: auto;
            padding: 70px 0px 20px 0px;
            background-color: #1e5799;
            position: relative;

        }
        
        .footersection p {
            color: #fff;
        }
        
        .footersection li a {
            font-size: 0.9rem;
            line-height: 1.6;
            font-weight: 400;
            color: #fff;
            text-transform: capitalize;
        }
        
        .footersection h3 {
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 25px;
            font-size: 1.2rem!important;
            font-weight: 600;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)
        }
        
        .list-inline-item a i{
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50px;
    line-height: 50px;
    size: 70px;
}

.fa-facebook-f{
    background-color: #1164AC;
}

.fa-twitter{
    background-color: #55ACEE;
}

.fa-google-plus-g{
    background-color: #DD4B39;
}

.fa-linkedin-in{
    background-color: #0082CA;
}

.fa-instagram{
    background-color: #B631A1;
}

.fa-facebook-f:hover,.fa-twitter:hover,.fa-google-plus-g:hover,.fa-linkedin-in:hover,.fa-instagram:hover{
    opacity: 0.5;
}

        .copy {
            text-align: center;
        }
        /**************** Footer  Ends**********************/